apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{MICROSERVICE_SLUG}}-rapi-migration-
  namespace: prod
  labels:
    devOps: {{MICROSERVICE_SLUG}}-k8s
spec:
  ttlSecondsAfterFinished: 300
  completions: 1
  backoffLimit: 3
  activeDeadlineSeconds: 300
  template:
    metadata:
      labels:
        app: {{MICROSERVICE_SLUG}}-rapi-migrator
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrator
          image: registry.pullstream.com/{{RAPI_REPO_PATH}}/web:prod-amd64
          imagePullPolicy: Always
          env:
            - name: MIGRATE
              value: 'true'
          envFrom:
            - secretRef:
                name: {{MICROSERVICE_SLUG}}-secret
            - configMapRef:
                name: {{MICROSERVICE_SLUG}}-configmap
            - configMapRef:
                name: hosts-configmap-nodejs
      imagePullSecrets:
        - name: ps-gitlab-registry-secret
